
*{
  margin:0;
  padding:0;
  color: white;
}


body{
  width: 100vw;
  height: auto;
  background-color: hwb(0 0% 100%);
  font-family: "Roboto",sans-serif;
  
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px;
}

.navbar ul {
  list-style-type:none;
  display: flex;
  gap: 15px;
  padding: 14px;
}

.navbar ul a {
  font: 3rem;
  text-decoration: none;

}

.navbar ul a:hover {
  background: #0897d4;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}


.hero-image img {
  width: 500px;
  height: 470px;
  border-radius: 30px;
}

.hero-content h1 {
  max-width: 200px;
  font-size: 2.7em;
  line-height: 3rem;
}

.hero-content p{
  max-width:400px ;
  line-height: 1.1rem;
  font-weight: 200;
  
}

.hero-content h2{
  margin-top: 20px;
}

.btn,.view-project-btn {
  background-color:hsl(198, 93%, 43%); 
  padding: 14px;
  border-radius: 5px;
  margin-top: 5px;
}

.btn:hover,.view-project-btn:hover {
  padding: 17px;
  border-radius:12px ;
  cursor: pointer;
  background-color: blue;
}

.card {
  display: flex;
  gap: 15px;
  flex-direction: column;
  width: 600px;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.projects {
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.project1{
  box-shadow:12px 12px 35px rgb(1, 22, 254);
  border-radius: 10px ;
  border: 5px solid black;
  width: fit-content;
  flex:1 1 auto;
}

.project1 img {
  width: 550px;
  height: 300px;
  border: 2px solid black;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects h2 {
  font-size: 20px;
  text-align: center;
}

.projects h3 {
  font-size: 15px;
  font-weight: 300;
  text-align: center;
  line-height: 1.5rem;
}

.projects p{
  display: flex;
  justify-content: center;
  align-items: center;

}

.projects a {
  text-decoration: none;
  width: 100px;
  background-color: #0897d4;
  padding: 10px;
  margin-top: 5px;
  border-radius: 10px;
}

.projects a:hover {
  background-color: blue;
}

.project1.active {
  display: block;
}

.project1 {
  display: none;
}

svg {
  width: 75px;
  height: 75px;
}

.about {
  margin: 20px;
}

.img-and-intro {
  display: flex;
  gap: 3rem;
  align-items: center;
}

.img-and-intro img {
  width: 350px;
  height: 500px;
  margin: 20px;
  border-radius: 10px;
}


.intro h1 {
  color: blue;
  font-size: 30px;
  margin-bottom: 5px;
}

.intro h2 {
  line-height: 1.6rem;
  font-size: 3rem;
  margin-top: 15px;
}

.intro span {
  color: blue;
}

.intro p {
  margin-top: 25px;
  font-size: 15px;
  font-weight: 300;
}

.intro {
  width: 100%;
  max-width: 600px;
}

.aside-coding {
  display: flex;
  justify-content: space-around;
  height: 200px;
  align-items: center;
  margin: 10px;
}

.aside-coding .word-n-icon {
  box-shadow:12px 12px 35px rgb(1, 30, 253);
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(1, 1, 252);
}

.others {
  display: flex;
  margin: 20px;
  padding: 30px;
  box-shadow:12px 12px 35px rgb(1, 22, 254);
  justify-content: space-between;
}

.skills,.second-page,.third-page {
  border: 2px solid rgba(41, 4, 252, 0.1);
  padding: 10px;
}

.skills .icon-n-content {
  display: flex;
  gap: 18px;
  align-items: center;
  margin-top: 10px;
}

.skills .icon-n-content svg{
  width: 40px;
  height: 40px;
}

.skills .icon-n-content h1{
  font-size: 1.1rem;
  font-weight: 100;
}

.second-page .point-n-word {
  display: flex;
  margin-top: 15px;
  padding-top: 10px;
  align-items: center;
  gap: 10px;
}

.point-n-word div {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: blue;
}

.second-page .point-n-word h1 {
  font-size: 1.1rem;
  font-weight: 100;
}

.third-page .icon-n-content{
  display: flex;
  align-items: center;
  gap: 18px;
  margin-top: 10px;
}

.third-page .icon-n-content svg{
  width: 40px;
  height: 40px;
}

.icon-n-content p {
   font-size: 1.1rem;
  font-weight: 100;
}

.num,.first,.last {
  font-size: 2rem;
  margin: 10px;
}

.contact-page .top-content .div-n-heading div {
  width: 7px;
  height: 6px;
  border:2px solid blue;
  background-color: blue;
  border-radius: 50%;
}

.div-n-heading {
  display: flex;
  gap: 12px;
  align-items: center;
}

.top-content .div-n-heading h1 {
  font-size: 20px;
  color: blue;
}

.top-content {
  margin: 20px;
  max-width: 600px;
}

.top-content h2 {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.5em;
}

.top-content p {
  font-size: 13px;
  font-weight: 600;
  line-height: 1.5rem;
}

.top-content h2 span {
  color: blue;
}

.contact-page .two-container {
  display: flex;
  gap: 10px;
  margin: 10px;
  padding: 10px;
  background-color: #09090B;
}

.first-container,.second-container {
  background-color: #12131A;
  border: 1px solid rgba(255,255,255,.08);
  border-radius: 20px;
  padding: 2rem;
  box-shadow: 0 0 0 1px rgba(225,255,255,.02),0 15px 40px rgba(0,0,0,.35);
}

.first-container .icon-n-hello {
  display: flex;
  gap: 10px;
  align-items: center;
}

.first-container .icon-n-hello svg {
  width: 25px;
  height: 22px;
}

.first-container .icon-n-hello h1 {
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2rem;
}

.first-container .descr {
  line-height: 1.5rem;
  font-weight: 400;
  font-size: 15px;
}

.first-container .icon-n-content {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 16px;
  padding: 10px;
}

.first-container .icon-n-content svg {
  width: 25px;
  height: 22px;
}

.first-container .icon-n-content .content h1 {
  font-size: 15px;
  line-height: 1.2rem;
}

.social-links {
  padding: 15px;
}

.social-links h1 {
  font-size: 19px;
}

.line {
  width: 100%;
  height: 1px;
  background-color: white;
  opacity: 0.3;
  margin-top: 20px;
}


.apps {
  display: flex;
  justify-content: space-between;
}

.apps-n-content svg {
  width: 25px;
  height: 22px;
}

.second-container p {
  font-size: 13px;
  font-weight: 600;
  line-height: 1.5rem;
}

.name-and-email {
  display: flex;
  gap: 10px;
}

.second-container #name,#email {
  width: 280px;
  height: 30px;
  background-color: #12131A;
  border:2px solid rgb(83, 82, 82) ;
  opacity: 0.5;
  padding-top: 15px;

}

.second-container #subject {
  width: 100%;
  height: 30px;
  background-color: #12131A;
  border:2px solid rgb(83, 82, 82) ;
  opacity: 0.5;
  padding-top: 15px;
}

.second-container label {
  line-height: 2rem;
  margin-top: 10px;
}

.second-container #message {
   width: 100%;
  height:100px;
  background-color: #12131A;
  border:2px solid rgb(83, 82, 82) ;
  opacity: 0.5;
}

input::placeholder {
  padding: 10px;
  color: white;
  padding: 10px;
}

.send-message {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 40px;
  margin-top: 20px;
  background-color: rgb(143, 180, 245);
  border-radius: 8px;
}

.send-message svg {
  width: 25px;
  height: 22px;
  color: white;
}

.send-message h1 {
  font-size: 20px;
  color: blue;
  display: flex;
  align-items: center;
}

.contact-page {
  padding: 12px;
}

.menu {
  width: 30px;
  height: 30px;
  display: none;
}

@media (max-width:920px) {
  .hero {
    flex-direction: column-reverse;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding: 15px;
  }

  .hero-image img {
    width: 400px;
    height: 370px;
  }

  .hero-content p{
  line-height: 1.7rem;
  font-weight: 200;
}

.btn,.view-project-btn {
  display: block;
  width: 100%;
}

.img-and-intro {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 100%;
}

.img-and-intro img {
  width:350px;
}

.aside-coding {
  flex-direction: column;
  height: 600px;
  width: 100%;
}

.aside-coding .word-n-icon {
  width: 100%;
}

.others {
  flex-direction: column;
  gap: 25px;
  
}

.about {
  padding: 20px;
}

.card {
  width: 400px;
}

.card img {
  width: 100%;
}

.projects svg {
  width: 55px;
  height: 50px;
}

.contact-page .two-container{
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.contact-page .top-content h2 {
  min-width:400px ;
}

.second-container .name-and-email {
  flex-direction: column;
}

.social-links .apps {
  margin-top: 15px;
  padding: 10px;
  flex-wrap: wrap;
}

.apps  {
  gap: 20px;
}

.second-container #name,#email {
  width: 100%;
}

.menu {
  display: block;
  padding: 10px;
}


.navbar ul.active {
  display: flex;
}

.navbar ul {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-top: 20px;
}

header {
  margin-top: 0;
  margin-left: 0;
  height: 200px;
  align-items: flex-start;
  width: 100%;
}

header.active {
  background-color: #12131A;
}

.logo h1 {
  font-size: 25px;
  padding: 10px;
}

.btn,.view-project-btn {
  font-size: 22px;
}

.hero-content p {
  font-size: 1.1rem;
  font-weight: 250;
}

.hero-content h1 {
  margin: auto;
}
}




